@media (max-width:1550px) {
    
    /*** main-content ***/

    .main-section{
        width: 75vw;
    }
}

@media (max-width:1450px) {
    
    /***hero-section***/

    .hero-content{
        left: 52%;
    }
}

@media (max-width:1110px){

    .main-section{
        width: 80vw;
    }

    .hero-content{
        left: 57%;
    }
}

@media (max-width:1050px){

    *{
        margin: 0;
        padding: 0;
    }

    header{
        position: fixed;
        margin: 0;
        z-index: 100;
        inset: 0 0 0 50%;
        padding: 3% 2% 0 0;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba(105, 105, 105, 0.7);
        transform: translateX(100%);
        transition: all 1s ease;
    }

    header[data-visibility="true"]{
        transform: translateX(0);
    }

    .menu-button{
        display: block;
        position: absolute;
        width: 80px;
        height: 25px;
        top: 20%;
        left: 110%;
        font-size: 16px;
        background-color: white;
        border-radius: 16px;
    }

    .close-button{
        display: block;
        position: absolute;
        width: 80px;
        height: 25px;
        top: 2.5%;
        left: 10%;
        font-size: 16px;
        background-color: white;
        border-radius: 16px;
    }

    .navbar{
        flex-direction: column;
        width: 100%;
        padding: 40px 0 0 0;
    }

    .navbar > li{
        margin: 10px 0 10px 50px;
    }

    .navbar-link{
        color: black;
        font-weight: 1000;
        font-size: 2em;
    }

    .hero-section{
        margin: 130px auto;
    }

    .hero-content{
        left: 54%;
    }

    .hero-section{
        position: relative;
        height: 200px;
        max-width: 320px;
        margin-top: 680px;
    }
    
    .ashusomething{
        font-size: 2em;
        top: -670px;
        left: 0;
    }

    .hero-section > img{
        top: -620px;
        max-height: 600px;
        max-width: 320px;
        left: 0;
    }

    .hero-content{
        font-size: 2em;
        top: 20%;
        left: 10%;
    }

    .main-section{
        flex-direction: column-reverse;
        justify-content: center;
        padding-top: 40px;
    }

    .main-content {
        justify-content: center;
        align-items: center;
        padding-top: 30px;
    }

    .main-heading{
        font-size: 2em;
        padding-top: 25px;
    }

    .main-para{
        font-size: 1.5em;
        text-align: center;
        padding-top: 35px;
    }

    .main-image{
        display: flex;
        justify-content: center;
    }


    .horizontal-line{
        margin-top: 320px;
        width: 380px;
    }

    .social-media-links >a >img{
        height: 30px;
    }

    .tag{
        margin: 0 0 10px 2%;
        font-size: .8em;
    }
}
